* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
}

body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/151/631/817/waterfall-snow-hd-wallpaper-676095-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}